body {
  background-color: #fff;
  padding: 2rem;
}

#root {
  max-width: 1024px;
  margin: 0 auto;
  /* padding: 2rem; */
  text-align: center;
  background-color: #1f2535;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 2rem 6rem;
}

main {
  margin-top: 10rem;
  text-align: left;
  color: #fff;
  padding: 0 6rem;

  & h1 {
    max-width: 480px;
  }

  & p {
    max-width: 480px;
  }

  .cta {
    font-size: 1.3rem;
    padding: 20px;
    background-color: white;
    color: #1f2535;
    border: none;
    border-radius: 4px;
    margin-top: 4rem;
    cursor: pointer;
  }
}



.advantages {
  display: flex;
  margin-top: 5rem;
  margin-bottom: 0;
  padding: 3rem;
  background-color: white;
  gap: 2rem;

  & li {
    text-align: left;

    & h2 {
      color: #1f2535;
    }

    & p {
      color: lightgray;
    }
  }


}


@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}